/* complete overlap between browsers that support css-mediaqueries, css3-colors,
 * transforms2d, css-transitions, opacity except for Opera Mini (transforms2d,
 * css-transitions) and IE9 (css-transitions), so no need for fallbacks */
@media (max-width: 639px) {
	.topbun {
		position: absolute;
		min-width: 0;
		background: #999;
	}

	.topbun .boxedin {
		position: fixed;
		background: #777;
		width: 170px;
		margin: 0;
		box-sizing: border-box;
		left: -170px;
		top: 0;
		bottom: 0;
		-webkit-transition: -webkit-transform 0.2s, -ms-transform 0.2s, transform 0.2s;
		transition: -webkit-transform 0.2s, -ms-transform 0.2s, transform 0.2s;
	}

	.topbun .product, .topbun .ingredients a {
		height: auto;
		display: block;
	}

	.topbun .ingredients a {
		line-height: 36px;
	}

	.topbun .ingredients {
		float: none;
	}

	.topbun .product, .topbun .product:hover {
		background: #999;
	}

	.blinds {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height: 0;
		background: #000;
		opacity: 0;
		-webkit-transition: opacity 0.2s;
		transition: opacity 0.2s;
	}

	/* Workaround for webkit: translate3d on something that's not visible due to
	 * overflow: hidden and margin-left: -xxx will not draw that element even
	 * when it goes into view, causing sidebar to not be drawn if .topbun is
	 * overflow: hidden.
	 */
	.mobiletopbun {
		overflow: hidden;
		position: absolute;
		width: 100%;
		background: inherit;
	}

	.ordersides, .ordersearch {
		display: inline-block;
		width: 48px;
		height: 48px;
		line-height: 48px;
	}

	.ordersides .fa, .ordersearch .fa {
		width: 100%;
		line-height: inherit;
		font-size: 24px;
		vertical-align: middle;
		text-align: center;
	}

	.ordersides:active i, .ordersearch:active i {
		background: #777;
	}

	#sidesordered:checked~.boxedin {
		-webkit-transform: translate(170px,0);
		-ms-transform: translate(170px,0);
		transform: translate(170px,0);
	}

	#sidesordered:checked~.boxedin.hwaccel {
		-webkit-transform: translate3d(170px,0,0);
		-ms-transform: translate3d(170px,0,0);
		transform: translate3d(170px,0,0);
	}

	#sidesordered:checked~.blinds {
		height: auto;
		opacity: 0.7;
	}

	.search {
		right: 0;
		-webkit-transform: translate(-48px,0);
		-ms-transform: translate(-48px,0);
		transform: translate(-48px,0);
		left: 100%;
		background: inherit;
		-webkit-transition: -webkit-transform 0.2s, -ms-transform 0.2s, transform 0.2s;
		transition: -webkit-transform 0.2s, -ms-transform 0.2s, transform 0.2s;
		overflow: hidden;
		width: 100%;
		z-index: 0;
	}

	.search.hwaccel {
		-webkit-transform: translate3d(-48px,0,0);
		-ms-transform: translate3d(-48px,0,0);
		transform: translate3d(-48px,0,0);
	}

	.ordersearch {
		left: 0;
		background: inherit;
	}

	.search .fa-arrow-left {
		display: block;
		position: absolute;
		top: 0;
		background: inherit;
		z-index: 0;
		opacity: 0;
		-webkit-transition: opacity 0.2s;
		transition: opacity 0.2s;
	}

	.searchbar {
		position: absolute;
		right: 0;
		top: 0;
		left: 48px;
		display: block;
		padding-right: 5px;
	}

	.searchbar input {
		box-sizing: border-box;
		padding: 10px;
		padding-right: 24px;
	}

	.search .cleartext {
		right: 10px;
	}

	#searchordered:checked~.search {
		-webkit-transform: translate(-100%,0);
		-ms-transform: translate(-100%,0);
		transform: translate(-100%,0);
	}

	#searchordered:checked~.search.hwaccel {
		-webkit-transform: translate3d(-100%,0,0);
		-ms-transform: translate3d(-100%,0,0);
		transform: translate3d(-100%,0,0);
	}

	#searchordered:checked~.search .fa-arrow-left {
		opacity: 1;
	}
}
