/* complete overlap between browsers that support css-mediaqueries, css3-colors,
 * transforms2d, css-transitions except for Opera Mini (transforms2d,
 * css-transitions) and IE9 (css-transitions), so no need for fallbacks */
@media (max-width: 639px) {
	.topbun {
		position: absolute;
		position: -webkit-sticky;
		background: #999;
	}

	.topbun .boxedin {
		position: fixed;
		background: #777;
		width: 170px;
		margin: 0;
		box-sizing: border-box;
		left: -170px;
		top: 0;
		bottom: 0;
		-webkit-transition: transform 0.2s;
		transition: transform 0.2s;
	}

	.topbun .product, .topbun .ingredients a {
		height: auto;
		display: block;
	}

	.topbun .ingredients a {
		line-height: 36px;
	}

	.topbun .ingredients {
		float: none;
	}

	.topbun .product, .topbun .product:hover {
		background: #999;
	}

	.blinds {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height: 0;
		background: #000;
		opacity: 0;
		-webkit-transition: opacity 0.2s;
		transition: opacity 0.2s;
	}

	.ordersides {
		background: url(https://cdn2.iconfinder.com/data/icons/flat-ui-icons-24-px/24/menu-24-20.png) no-repeat center;
		display: block;
		width: 48px;
		height: 48px;
	}

	.ordersides:active {
		background: #777 url(https://cdn2.iconfinder.com/data/icons/flat-ui-icons-24-px/24/menu-24-20.png) no-repeat center;
	}

	#sidesordered:checked~.boxedin {
		-webkit-transform: translate(170px,0);
		-ms-transform: translate(170px,0);
		transform: translate(170px,0);
	}

	#sidesordered:checked~.boxedin.hwaccel {
		-webkit-transform: translate3d(170px,0,0);
		-ms-transform: translate3d(170px,0,0);
		transform: translate3d(170px,0,0);
	}

	#sidesordered:checked~.blinds {
		height: auto;
		opacity: 0.7;
	}
}
