@font-face {
	font-family: 'Carlito';
	font-style: normal;
	src: local('Carlito'), url('Carlito-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Carlito';
	src: url('Carlito-Bold.ttf') format('truetype');
	font-weight: bold;
}

@font-face {
	font-family: 'Carlito';
	src: url('Carlito-Italic.ttf') format('truetype');
	font-style: italic;
}

@font-face {
	font-family: 'Carlito';
	src: url('Carlito-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

html,body {
	margin: 0;
	padding: 0;
	background: #ccc;
}

html {
	height: 100%;
}

body {
	font: 12pt 'Calibri','Carlito',sans-serif;
	position: relative;
	min-height: 100%;
}

.signature {
	text-transform: uppercase;
	font-family: 'Book Antiqua','Palatino Linotype','Palatino','URW Palladio L',serif;
	font-weight: bold;
	font-style: normal;
}

.boxedin {
	position: relative;
	z-index: 1;
	max-width: 900px;
	margin: 0 auto;
	box-sizing: border-box;
	height: 100%;
}

.obfuscated .show {
	unicode-bidi: bidi-override;
	direction: rtl;
}

.obfuscated .hide {
	display: none;
}

.hwaccel {
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}

.topbun {
	position: fixed;
	background: rgba(0, 0, 0, 0.25);
	width: 100%;
	height: 48px;
	z-index: 2;
	box-shadow: rgb(0, 0, 0) 0px 0px 10px;
	-webkit-transition: background 0.3s, padding 0.3s, box-shadow 0.3s;
	transition: background 0.3s, padding 0.3s, box-shadow 0.3s;
}

.topbun.clean {
	box-shadow: none;
	background: none;
}

.topbun.clean, .topbun.clean .search {
	padding: 10px 0;
}

.ie8 .topbun {
	background: url('000000-0.25.png');
}

#sidesordered,#searchordered,#resetsearch {
	/* display: none; doesn't work too well with IE8 */
	position: absolute;
	top: -100%;
}

.ordersides {
	display: none;
}

.ordersearch {
	position: absolute;
	left: 5px;
}

.ie8 .ordersearch {
	top: 0;
}

.ordersearch .fa-arrow-left {
	display: none;
}

.search {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	right: 50%;
	height: 100%;
	line-height: inherit;
	vertical-align: middle;
	margin-right: -100px;
	width: 200px;
	z-index: 2;
	-webkit-transition: padding 0.3s;
	transition: padding 0.3s;
}

.ie8 .search {
	padding: 5px 0;
}

.searchbar {
	display: block;
	height: 100%;
	padding: 5px 0;
	box-sizing: border-box;
}

.ie8 .searchbar {
	padding: 0;
	/*background: rgba(255, 255, 255, 0.75);*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#BFFFFFFF',endColorstr='#BFFFFFFF')";
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BFFFFFFF',endColorstr='#BFFFFFFF');
	/*border-radius: 10px;*/
	padding: 0 24px;
}

.searchbar input {
	height: 100%;
	width: 100%;
	border: none;
	padding: 5px 24px;
	box-sizing: border-box;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.75);
	display: block;
}

.ie8 .searchbar input {
	box-sizing: content-box;
	background: none;
	/*border-radius: 0;*/
	padding: 0;
	line-height: 38px;
}

.searchbar input[type=submit] {
	visibility: hidden;
}

.search .cleartext {
	position: absolute;
	top: 0;
	right: 5px;
	padding: 0;
	height: 100%;
	display: block;
}

.searchquery:invalid~.cleartext {
	display: none;
}

.search .cleartext label {
	color: #000;
}

.search .cleartext label:hover, .search .cleartext label:active {
	background: none;
	color: #777;
	cursor: pointer;
}

.topbun {
	line-height: 48px;
	min-width: 640px;
}

.topbun a {
	height: 100%;
	vertical-align: bottom;
	color: #fff;
	text-decoration: none;
	padding: 0 8px;
	display: inline-block;
	box-sizing: border-box;
	-webkit-transition: background 0.3s, border-bottom 0.3s, text-shadow 0.3s;
	transition: background 0.3s, border-bottom 0.3s, text-shadow 0.3s;
}

.topbun a:hover, .topbun li:hover a {
	background: #777;
}

.topbun.clean a, .topbun.clean li a {
	text-shadow: rgb(0, 0, 0) 0px 0px 10px;
	background: none;
	border-bottom: 0 solid transparent;
}

.topbun.clean a:hover, .topbun.clean .ingredients li:hover a {
	border-bottom: 3px solid white;
}

.topbun .ingredients li a:hover ~ ul, .topbun .ingredients li:hover ul {
/*	display: block;*/
	padding: 0 32px 32px 32px;
	left: -32px;
	max-height: 80px; /* (line-height: 20px + padding-bottom: 10px + padding-top: 10px) * 2 */
}

.topbun .ingredients li ul {
/*	display: none;*/
/*	padding: 0 32px 32px 32px;*/
/*	left: -32px;*/
	position: absolute;
	margin: 0;
	min-width: 100%;
	line-height: normal;
	
	display: block;
	padding: 0;
	left: 0;
	max-height: 0;
	overflow-y: hidden;
	-webkit-transition: max-height 0.3s, padding-bottom 0.3s;
	transition: max-height 0.3s, padding-bottom 0.3s;
}

.topbun .ingredients li ul li {
	width: 100%;
	height: auto;
	background: #777;
	color: #fff;
	padding: 10px 5px;
	box-sizing: border-box;
	white-space: nowrap;
}

.topbun .ingredients li ul li a, .topbun.clean .ingredients li ul li a {
	text-shadow: none;
	line-height: 20px;
	-webkit-transition: text-shadow 0.2s;
	transition: text-shadow 0.2s;
}

.topbun .ingredients li ul li a:hover, .topbun.clean .ingredients li ul li a:hover {
	text-shadow: rgb(0, 0, 0) 0px 0px 10px;
}

.topbun .ingredients li:hover ul li a, .topbun.clean .ingredients li:hover ul li a {
	border-bottom: none;
}

.topbun .product {
	color: #FFD700;
	font-size: 20pt;
}

.topbun .ingredients {
	float: right;
	height: 100%;
	margin: 0;
	padding: 0;
	display: inline-block;
}

.topbun .ingredients li {
	display: inline-block;
	height: 100%;
	position: relative;
}

.toppings {
	position: relative;
	padding-bottom: 8px;
}

.ie8 .toppings {
	-ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='bg.jpg', sizingMethod='scale');
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='bg.jpg', sizingMethod='scale');
}

.sunglasses {
	position: absolute;
	display: block;
	z-index: 0;
	content: '';
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.2;
}

.ie8 .sunglasses {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
}

.grease {
	position: absolute;
	display: block;
	z-index: 0;
	content: '';
	bottom: -8px;
	height: 16px;
	width: 100%;
	background: rgba(0, 0, 0, 0.25);
}

.ie8 .grease {
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#40000000',endColorstr='#40000000')";
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40000000',endColorstr='#40000000');
}

.meat {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	padding-top: 16px;
	padding-bottom: 48px;
}

.bottombun {
	position: absolute;
	top: 0;
	height: 100%;
	left: 0;
	right: 0;
}

.bottombun .content {
	line-height: 32px;
	width: 100%;
	text-align: center;
	font-size: 10pt;
	
	background: rgba(0, 0, 0, 0.25);
	color: #fff;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	position: absolute;
	bottom: 0
}

.bottombun .boxedin {
	text-align: left;
	padding: 0 10px;
}

.bottombun .boxedin a {
	text-decoration: none;
	color: inherit;
}

.ie8 .bottombun .content {
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#40000000',endColorstr='#40000000')";
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40000000',endColorstr='#40000000');
}
