body {
	height: 100%;
}

.toppings {
	min-height: 100%;
}

.meat, .bacon, .bottombun {
	height: auto;
}

.meat {
	min-height: 100%;
}

.coverletter {
	margin-top: 48px;
	color: #333;
	line-height: 32px;
}

.coverletter h1 {
	text-transform: lowercase;
	font-size: 28pt;
	color: #aaa;
	margin: 0;
}

.coverletter .closing {
	text-align: right;
}

.coverletter .closing a {
	color: inherit;
	text-decoration: none;
}

.coverletter em {
	font-size: 85%;
	text-transform: uppercase;
	font-style: normal;
}

.coverletter strong {
	font-size: 200%;
	font-weight: normal;
}

.bottombun, .bottombun .content {
	position: static;
}

.skipcover {
	display: block;
}

.toppings {
	background: url('bg.jpg') no-repeat center top fixed;
	background-size: cover;
}

.filler {
	height: 248px;
}

.bacon {
	box-sizing: content-box;
	min-width: 640px;
	min-height: 392px;
	text-align: center;
	color: #fff;
}

.subtitle {
	display: block;
}

.name {
	display: inline-block;
	margin: 0 auto 10px auto;
	text-align: left;
	font-style: italic;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.name .right {
	float: right;
}

.headline {
	display: block;
	font-size: 36pt;
	text-align: center;
}

.mugshot {
	top: -170px;
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;
	width: 155px;
	height: 155px;
	background: url('mugshot.jpg');
	border-radius: 50%;
	box-shadow: 0px 0px 15px #000;
}

.ie8 .mugshot {
	-ms-filter: "progid:DXImageTransform.Microsoft.Glow(color=black,strength=5)";
	filter: progid:DXImageTransform.Microsoft.Glow(color=black,strength=5);
}

.quicklinks {
	margin: 32px 100px 0 100px;
	padding: 0;
	/* equispacing trick */
	text-align: justify;
	text-align-last: justify;
}

/* equispacing trick */
/* Ensures there are at least 2 lines of text, so justification works */
.quicklinks:after {
	font-size: 0.1px; /* IE 9/10 don't like font-size: 0; */
	content: '';
	width: 100%;
	display: inline-block;
}

.captioned {
	display: inline-block;
	width: 200px;
	height: 128px;
	background: rgba(0, 0, 0, 0.25);
	text-align: center;
	margin-top: 40px;
}

.ie8 .captioned {
	background: url('000000-0.25.png');
	position: relative;
}

.captioned:hover {
	background: rgba(0, 0, 0, 0.5);
}

.ie8 .captioned:hover {
	background: url('000000-0.5.png');
}

.captioned .fa {
	width: 64px;
	height: 64px;
	line-height: 64px;
	font-size: 40px;
	margin: -40px auto 10px auto;
	border: 1px solid #777;
	background: #fff;
	color: #000;
	text-align: center;
	vertical-align: middle;
	box-sizing: border-box;
	border-radius: 50%;
}

.ie8 .captioned .fa {
	margin-top: 0;
	position: absolute;
	top: -40px;
	left: 0;
	right: 0;
}

.captioned:hover .fa {
	background: #777 !important;
}

.captioned strong {
	display: block;
	margin-bottom: 10px;
}

.ie8 .captioned strong {
	margin-top: 40px;
}

.captioned a {
	color: #fff;
	text-decoration: none;
	padding: 10px;
	display: inline-block;
	
	border: 2px solid #fff;
	text-transform: uppercase;
	font-size: 10pt;
	padding: 8px;
}

.captioned:hover a {
	-webkit-transition: background 0.3s, color 0.3s;
	transition: background 0.3s, color 0.3s;
}

.ingredients {
	-webkit-transition: max-height 0.3s, padding-bottom 0.3s;
	transition: max-height 0.3s, padding-bottom 0.3s;
}

.captioned a:hover {
	background: #fff;
	color: #000;
}

.captioned a:after {
	content: " \bb";
}
