@media only screen and (max-width: 639px) {
	.filler {
		height: 52px;
	}

	.page {
		width: auto;
		height: auto;
		max-width: none;
		padding: 0;
		box-shadow: none;
		margin: 0;
	}

	#resume {
		width: auto;
		height: auto;
	}

	.heading .externallinks {
		display: none;
	}
}

@media (max-width: 639px) {
	.heading {
		text-align: center;
	}

	.heading h1 {
		margin: 0 auto;
		display: block;
	}

	.heading p {
		display: inline-block;
		margin: 0;
		font-size: 0.001px;
		line-height: 1pt;
	}

	.heading p > span {
		display: inline;
		margin-right: 9pt;
		white-space: nowrap;
		position: relative;
	}

	.heading p > span:after {
		content: "\25CF";	/* escaped unicode character */
		position: absolute;	/* position bullet relative to list item */

		font-size: 5pt;
		right: -6pt;
	}

	.heading p > span.last:after {
		content: "";
		display: none;
	}

	.heading .externallinks {
		position: absolute;
		right: 0;
		top: 0;
	}

	.heading .externallinks > span {
		display: block;
		text-align: right;
	}

	.heading .externallinks > span:after {
		content: "";
		display: none;
	}

	.condensed .heading .externallinks {
		position: static;
		display: inline-block;
	}

	.condensed .heading .externallinks > span {
		display: inline;
	}

	.condensed .heading .externallinks > span:after {
		content: "\25CF";
		display: initial;
	}

	.condensed .heading p > span.last:after {
		content: "";
		display: none;
	}

	.footer {
		position: static;
	}

	.section .entry {
		width: auto;
		padding-left: 0;
	}

	.section .contribution {
		margin-right: 1.1in;
	}

	.honors .contribution {
		margin: 0;
	}

	.condensed .section.extracurriculars .abbrev, .condensed .section.honors .abbrev {
		display: none;
	}

	.condensed .section.extracurriculars .expanded, .condensed .section.honors .expanded {
		display: initial;
	}

	.honors .entry {
		padding-right: 1.1in;
		box-sizing: border-box;
	}

	.section .placeholder {
		display: none;
	}

	.section .spacetime {
		position: absolute;
		right: 0;
		left: auto;
		font-size: 10pt;
		width: 1.05in;
		text-align: right;

		display: -moz-box;
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;

		-moz-box-orient: vertical;
		-webkit-box-orient: vertical;
		-ms-flex-direction: column;
		-webkit-flex-direction: column;
		flex-direction: column;

		-moz-box-align: end;
		-webkit-box-align: end;
		-ms-flex-align: end;
		-webkit-align-items: flex-end;
		align-items: flex-end;
	}

	.section .spacetime .space {
		-moz-box-ordinal-group: 1;
		-webkit-box-ordinal-group: 1;
		-ms-flex-order: 1;
		-webkit-order: 1;
		order: 1;
	}

	.section .spacetime .time {
		-moz-box-ordinal-group: 2;
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 2;
		-webkit-order: 2;
		order: 2;
	}

	.section .organization {
		width: auto;

		float: none;
		display: inline;
	}

	.section .nextline {
		display: none; /* workaround for webkit bug https://bugs.webkit.org/show_bug.cgi?id=53166 */
	}

	.section .role {
		width: auto;
		border: none;
		float: none;
		padding-left: 0;

		text-align: left;
	}

	.honors .role {
		display: inherit;
	}

	.section .role span {
		display: inline;
	}

	.section .role span:after {
		content: "; ";
	}

	.section .role .last:after {
		content: "";
	}

	.skills, .section.rightalign3col {
		float: none;
		width: auto;
	}

	.section.centeralign3col, .section.rightalign3col {
		padding-left: 0.05in;
		margin-left: inherit;
		border-left: none;
	}

	li.leftalign3col, li.centeralign3col, li.rightalign3col {
		width: auto;
		margin-right: 40px;
		float: none;
	}

	li.leftalign2col, li.rightalign2col {
		width: auto;
		float: none;
		position: static;
		left: 0;
		display: inline-block;
	}

	.section {
		padding-bottom: 0;
	}

	.entryless.skills, .entryless.affiliations {
		border-bottom: 0;
		padding-bottom: 0;
	}

	.entryless.skills.last {
		border-bottom: 1pt solid #000;
	}

	.honors, .section .entry, .entryless, .entryless.skills.last {
		margin-bottom: 0;
		padding-bottom: 2pt;
	}

	.honors .entry {
		padding-bottom: 0;
		font-size: 10pt;
		line-height: 12pt;
		clear: both;
	}

	.section .contribution, .section .spacetime {
		line-height: 13pt;
	}

	.entryless.first {
		padding-top: 2pt;
	}

	.affiliations ul, .skills ul {
		font-size: 10pt;
	}

	.entryless h2, .entryless.hascsstitle:before {
		display: inline-block;
		font-size: 11pt;
		line-height: 13pt;
		font-variant: normal;
		font-weight: bold;
	}

	.entryless h2:after, .entryless.hascsstitle:before:after {
		content: ":";
	}

	.entryless p, .entryless ul { 
		display: inline;
		vertical-align: baseline;
		list-style: none;
		padding-left: 0;
	}

	.entryless li {
		display: inline;
		margin-right: 0;
	}

	.entryless li:before {
		display: none;
		content: "";
	}

	.entryless li:after {
		content: ", ";
	}

	.entryless .last:after {
		content: "";
	}

	.footer {
		margin-left: 0;
	}

	.condensed .contribution {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.condensed .organization {
		order: 1;
		min-width: 100%;
	}

	.condensed .role {
		order: 2;
	}

	.condensed .role:after {
		content: ", ";
		margin-right: 3px;
	}

	.condensed .role.last:after {
		content: "";
		margin-right: inherit;
	}

	.condensed .section .entry .plain {
		font-family: inherit;
		font-weight: inherit;
		font-style: inherit;
	}

	.condensed .experience .nonprofessional {
		display: none;
	}

	.condensed .honors {
		display: none;
	}

	.condensed .extracurriculars {
		display: block;
	}

	.condensed .skills, .condensed .affiliations {
		display: none;
	}

	.condensed .spacetime .space {
		font-size: 11pt;
		font-weight: bold;
	}

	.condensed .honors .spacetime .space {
		display: inherit;
	}

	.condensed .spacetime .time {
		font-size: 11pt;
		font-style: italic;
	}

	.condensed .twin {
		padding-bottom: 0;
	}

	.condensed .twin + .entry .contribution .organization, .condensed .twin + .entry .spacetime .space {
		display: none;
	}

	.condensed .section {
		border-bottom: none;
	}

	.condensed .section > h2, .condensed .hascsstitle:before {
		border-bottom: 1pt solid #000;
	}

	.condensed .section, .condensed .footer {
		font-family: FancyFont,serif;
	}

	.condensed .skillsandinterests {
		display: block;
	}
}
